{% extends "base.html" %}
{% block head_extra %}
<style type="text/css">
    .search-form {
        margin-bottom: 1rem;
    }
</style>
{% endblock head_extra%}
{% block contain %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>{{ title }} is working!</h1>
        <form method="GET" action="" class="search-form">
            <div class="input-group">
                <input class="form-control" type="text" name="q" placeholder="Search blog..."/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        {% for blog in blogs %}
        <div class="row">
            <div class="col-sm-12">
                <div class="thumbnail content-item">
                    {% if blog.image %}
                        <img src="{{ blog.image.url }}" class="img-responsive"/>
                    {% endif %}
                    <div class="cpation">
                        <h3>
                            <a href="{{ blog.get_abs_url }}">{{ blog.title }}</a>
                            <small>{{ blog.publish }}</small>
                        </h3>
                        {% if blog.user.get_full_name %}<p>Author: {{ blog.user.get_full_name }}</p>{% endif %}
                        {{ blog.get_markdown | truncatechars_html:120 }}
                        <p><a href="{{ blog.get_abs_url }}" class="btn btn-primary" role="button">View</a></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% include 'includes/_pagination.html' %}

{% endblock contain %}
