{% extends "base.html" %}
{% block contain %}
<div class="col-sm-8 col-sm-offset-2">
    {% if post.image %}
        <img src="{{ post.image.url }}" class="img-responsive"/>
    {% endif %}
    <h1>{{ post.title }} <small>{{ post.publish }}</small></h1>
    {% if post.user.get_full_name %}<p>Author: {{ post.user.get_full_name }}</p>{% endif %}
    <div class="col-sm-12 content-markdown">
<!-- prevent the unnecessary spaces in front of the actual text -->
{{ post.content }}
    </div>
<div>
{% endblock contain %}