{% extends "base.html" %}
{% block contain %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h1>{{ title }} is working!</h1>
        <form method="GET" action="">
            <input type="text" name="q" placeholder="Search post..."/>
            <input type="submit" class="btn btn-primary" value="search"/>
        </form>
        {% for post in posts %}
        <div class="row">
            <div class="col-sm-12">
                <div class="thumbnail">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" class="img-responsive"/>
                    {% endif %}
                    <div class="cpation">
                        <h3>
                            <a href="{{ post.get_abs_url }}">{{ post.title }}</a>
                            <small>{{ post.publish }}</small>
                        </h3>
                        {% if post.user.get_full_name %}<p>Author: {{ post.user.get_full_name }}</p>{% endif %}
                        <p class="content-markdown">{{ post.content | truncatechars:120 }}</p>
                        <p><a href="{{ post.get_abs_url }}" class="btn btn-primary" role="button">View</a></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% include 'includes/_pagination.html' %}

{% endblock contain %}